@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Kullanıcı Adı</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminId</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminId" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/AdminCategory/UpdateCategory/@item.AdminId" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }


</table>
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Admin Tanımla</a>
