<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Aşağıdaki örnekte, "SetAttributes" dönüşümü, "MyDB" değerine sahip öznitelik "adı"nı yalnızca 
    "Match" konum belirleyicisi bulduğunda "connectionString" değerini 
    ReleaseSQLServer" öğesini kullanmak için değiştirecektir.

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      Aşağıdaki örnekte, "Replace" dönüşümü Web.config dosyanızın
      <customErrors> bölümünün tamamını değiştirir.
      <system.web> düğümü altında yalnızca bir customErrors
      bölümü bulunduğundan, "xdt:Locator" özniteliğini kullanmaya gerek kalmadığına dikkat edin.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
