
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim </del></p>
<p><del>#2 Tüm Başlıklarda Paging</del> </p>
<p><del>#3 Sessiona Göre Mesajlar</del> </p>
<p><del>#4 Oturum Yönetiminin Mimariye Taşınması</del> </p>
